#vis {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", "Sans-serif";
  width: 100%; 
  height: 100%; 
  padding: 3em; 
  position: relative"
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #f0f0f0;
  padding: 2em;
  box-sizing: border-box;
}

